body {
    background-color: #F1F1F1;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #3c948b;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

a:hover {
    color: #336699;
    text-decoration: none;
}

.btn {
    box-shadow: 0px 2px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 2px 6px rgba(0,0,0,0.6);
    -ms-box-shadow: 0px 2px 6px rgba(0,0,0,0.6);
}

.btn-link {
    background-color: #3c948b;
    color: #fff;
}

.btn-link:hover {
    background-color: #336699;
    color: #fff;
    text-decoration: none;
}

.full-width {
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.user-img-wrap {
    width: 70%;
    margin: 0 auto;
}

.user-bio-wrap {
    padding: 10px;
    color: #aaa;
    font-style: italic;
    text-align: center;
}

.page {
    background-color: #fff;
    margin: 15px 0px;
    box-shadow: 5px 3px 15px rgba(0,0,0,0.5);
}

.content {
    padding: 25px;
}

.sidebar {
    padding: 25px 10px;
}

.carousel {
    border-bottom: 3px solid #3c948b;
}

/*For Post Multi*/
.post-multi {
    margin: 0 0 30px;
    border: 1px solid #eee;
}

.post-multi h1 {
    font-size: 25px;
    font-weight: bold;
}

.post-multi ul {
    color: #95a5a5;
}

.post-multi-content {
    margin: 10px 0px;
}

.post-multi-footer {
    background-color: #eee;
    color: #95a5a5;
    padding: 10px;
    font-size: 12px;
}

/*Sidebar Styles*/
.sidebar-wrap {
    margin-bottom: 20px;
}

.sidebar-head {
    background-color: #eeeeee;
    padding: 6px 12px;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: bold;
}

.sidebar-content {
    border-bottom: 2px solid #3c948b;
    padding: 10px 0px;
}

.list-group-item {
    border: 0px solid transparent;
    border-radius: 0px;
}

/*Single Post Styles*/
.details-wrap {
    padding: 5px;
    border: 1px dashed #eeeeee;
}

.list-inline {
    margin: 0px;
}

.details-content {
    margin: 15px 0px;
}

.details-content img {
    float: left;
    padding: 0px 15px 10px 0px;
}

.insert-comment {
    padding: 10px;
    margin: 20px 0px;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}

.insert-comment h3 {
    margin: 0px 0px 10px 0px;
}

.comment-wrap {
    margin: 20px 0px;
}

.comment-head {
    background-color: #eeeeee;
    border: 1px solid #ccc;
    padding: 5px;
}

.comment-body {
    padding: 5px;
    border-bottom: 2px solid #3c948b;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
}

footer {
    background-color: #222222;
    border-top: 3px solid #3c948b;
    padding: 50px;
    text-align: center;
    color: #eee;
}

@media screen and (min-width: 768px) {
    main {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .content {
        border-right: 1px dashed #eeeeee;
    }
}

@media screen and (min-width: 992px) {
    .post-multi figure {
        height: 255px;
        padding: 0;
        background-position: center center;
        background-size: cover;
    }
}

@media screen and (min-width: 1200px) {
    .post-multi figure {
        height: 215px;
    }
}