@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	background-color: #F1F1F1;
	font-family: 'Open Sans', 'sans-serif';
}

a:hover {
	text-decoration: none;
}

a.text-danger:hover {
	color: red;
}

.full-width {
	width: 100%;
}

.fa {
	font-size: 120%;
	margin-right: 5px;
}

.navbar-default {
	background-color: #222222;
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
	color: #3c948b;
}

.login-form {
	width: 300px;
	margin: 100px auto;
}

.page {
	background-color: #fff;
	border: 1px solid #CCC;
	border-top: none;
	padding: 25px;
	box-shadow: 3px 5px 10px rgba(0,0,0,.5)
}

.table thead,
.table tfoot {
	border: 1px solid #DDDDDD;
}
.table tfoot {
	border-top: 2px solid #DDDDDD;
}

.table tbody {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

.table-actions {
	font-size: 90%;
	margin: 2px 0px;
	visibility: hidden;
}

.sidebar-block {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	margin-bottom: 15px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.4);
}

.sidebar-block:first-child {
	margin-top: 62px;
}

.sidebar-title {
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
}

.sidebar-content {
	padding: 10px;
	height: 140px;
}

.sidebar-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F1F1F1;
	padding: 10px;
	border-top: 1px solid #CCCCCC;
}

.sidebar-bottom .left {
	width: 50%;
	float: left;
	padding-top: 7px;
}

.sidebar-bottom .right {
	text-align: right;
}

/*Styles For Dashboard*/
.dash-wrap {
	margin-bottom: 15px;
	border-bottom: 3px solid transparent;
}

.dash-head {
	padding: 6px 12px;
	text-align: center;
	border: 1px solid transparent;
	font-weight: bold;
	color: #fff;
}

.dash-wrap.posts .dash-head {
	background-color: #78C0A8;
}

.dash-wrap.comments .dash-head {
	background-color: #F07818;
}

.dash-wrap.subscribers .dash-head {
	background-color: #6E9ECF;
}

.dash-content {
	padding: 10px;
}

.dash-content ul li {
	border-bottom: 1px solid #eee;
	padding: 3px 0px;
}

.dash-content ul li:last-child {
	border-bottom: 0px solid transparent;
}

.dash-wrap.posts {
	border-color: #78C0A8;
}

.dash-wrap.comments {
	border-color: #F07818;
}

.dash-wrap.subscribers {
	border-color: #6E9ECF;
}

/*
*	Styles for Blog
*/
.blog-body {
	margin: 5px 0px;
}

#tagsList {
	margin: 10px 0px;
}

#tagsList li {
	display: inline-block;
	float: left;
	margin-right: 5px;
	padding: 3px 5px;
	background-color: #E0EAF1;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #3E6D8E;
	color: #3E6D8E;
}

#tagsList li > button {
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	border: 0px;
}

#tagsList li > button > i {
	margin: 0px 0px 0px 3px;
	color: #d9534f;
}

#tagsList li > button:hover i {
	color: #c9302c;
}

.comment-wrap {
	margin: 20px 0px;
}

.comment-head {
	background-color: #eeeeee;
	border: 1px solid #ccc;
	padding: 5px;
}

.comment-body {
	padding: 5px;
	border-bottom: 2px solid #3c948b;
	border-left: 1px solid #ccc;
	border-right: 1px solid #eee;
}

/*Styles For Media*/
.media-upload {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 0px;
}

.upload-wrapper {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 175px;
	position: relative;
}

.upload-actions {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	padding: 5px 10px;
	font-weight: bold;
}

.featured-img {
	height: auto;
}

.img-select:hover {
	cursor: pointer;
}

.img-select.active {
	border: 2px solid red;
}


footer {
	margin-top: 10px;
	color: #999;
	font-size: 90%;
}

@media screen and (min-width: 1200px) {
	.modal-dialog {
		width: 900px;
	}
}