@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	background-color: #F1F1F1;
	font-family: 'Open Sans', 'sans-serif';
}

a:hover {
	text-decoration: none;
}

a.text-danger:hover {
	color: red;
}

.full-width {
	width: 100%;
}

.fa {
	font-size: 120%;
	margin-right: 5px;
}

.navbar-default {
	background-color: #222222;
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
	color: #3c948b;
}

.login-form {
	width: 300px;
	margin: 100px auto;
}

.page {
	background-color: #fff;
	border: 1px solid #CCC;
	border-top: none;
	padding: 25px;
	box-shadow: 3px 5px 10px rgba(0,0,0,.5)
}

.table thead,
.table tfoot {
	border: 1px solid #DDDDDD;
}
.table tfoot {
	border-top: 2px solid #DDDDDD;
}

.table tbody {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

.table-actions {
	font-size: 90%;
	margin: 2px 0px;
	visibility: hidden;
}

.sidebar-block {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	margin-top: 62px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.4);
}

.sidebar-title {
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
}

.sidebar-content {
	padding: 10px;
	height: 140px;
}

.sidebar-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F1F1F1;
	padding: 10px;
	border-top: 1px solid #CCCCCC;
}

.sidebar-bottom .left {
	width: 50%;
	float: left;
	padding-top: 7px;
}

.sidebar-bottom .right {
	text-align: right;
}

/*
*	Styles for Blog
*/
.blog-body {
	margin: 5px 0px;
}

footer {
	margin-top: 10px;
	color: #999;
	font-size: 90%;
}